<h1>INDEX</h1>

<% @cocktails.each do |cocktail| %>
  <ul>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  </ul>
<% end %>

<button class="btn btn-primary" type="button"><%= link_to "Add a cocktail", new_cocktail_path %></button>
